@mixin alert-style($color, $x-position, $y-position)
  border-color: $color
  background-position: $x-position $y-position

.alert 
  margin: 10px 0
  padding: 0 20px 0 120px
  height: 100px
  width: 400px
  background:
    image: url('../images/alrt-icns.png')
    color: #FFF
    repeat: no-repeat
  border: 8px solid #62B1F6
  h3 
    margin-top: 20px
    font-weight: bold
    color: #000
    margin-bottom: 0
  p 
    margin-top: 5px
    color: #333

.alert-success
  @extend .alert 
  +alert-style(#83F52C, 0, -100px)


.alert-warning
  @extend .alert
  +alert-style(#FC1, 0, -200px)
 
.alert-error
  @extend .alert
  +alert-style(#F33, 0, -300px)




