.alert, .alert-success, .alert-warning, .alert-error {
  margin: 10px 0;
  padding: 0 20px 0 120px;
  height: 100px;
  width: 400px;
  background-image: url("../images/alrt-icns.png");
  background-color: white;
  background-repeat: no-repeat;
  border: 8px solid #62b1f6; }
  .alert h3, .alert-success h3, .alert-warning h3, .alert-error h3 {
    margin-top: 20px;
    font-weight: bold;
    color: black;
    margin-bottom: 0; }
  .alert p, .alert-success p, .alert-warning p, .alert-error p {
    margin-top: 5px;
    color: #333333; }

.alert-success {
  border-color: #83f52c;
  background-position: 0 -100px; }

.alert-warning {
  border-color: #ffcc11;
  background-position: 0 -200px; }

.alert-error {
  border-color: #ff3333;
  background-position: 0 -300px; }
