body {
	width: 1024px;
	margin: auto;
	padding: 0 20px;
	background-color: #EEE;
	font-family: Helvetica;
}

a {
	color: #000;
	text-decoration: none;
}

h1, h2, h3, h4, p {
	margin: 0;
}

h1 {
	font-size: 48px;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

img {
	background-color: #FFF
}

header {
	margin: 24px 0;
	overflow: hidden;
}

.three-cols {
	width: 364px;
	margin-right: 32px;
	display: inline-block;
	float: left;
}

.five-cols {
  width: 628px;
	display: inline-block;
	float: left;
}

.group:before,
.group:after {
  content: "";
  display: block;
}
.group:after {
  clear: both;
}

.logo {
	float: left;
	margin-right: 10px;
	font-weight: bold;
}

nav a {
	display: block;
	float: left;
	margin-right: 10px;
	font-size: 16px;
	line-height: 21px;
	color: #B452CD;
}

nav a:before {
	content:"/ ";
	color: #000;
}

nav a:hover {
	color: #000;
}


section {
	margin-bottom: 96px;
}

p.body {
	font-family: Georgia;
	font-size: 	 18px;
	line-height: 24px;
	color: #333;
	margin: 5px 0;
}

.thumbnail {
	margin-top: 16px;
	border: 1px solid #EEE;
	position: relative;
}

.thumbnail > h4 {
	font-weight: normal;
	position: absolute;
	top: 0;
	padding: 10px
}

.two-cols {
	width: 230px;
	height: 230px;
	float: left;
	margin-right: 32px;
}

.last-col {
	margin-right: 0;
}


.alert {
  margin: 10px 0;
  padding: 0 20px 0 120px;
  height: 100px;
  width: 400px;
  background-image: url('images/alrt-icns.png');
  background-color: #FFF;
  background-repeat: no-repeat;
  border: 8px solid #62B1F6;
}

.alert h3 {
  margin-top: 20px;
}

.alert p {
  margin-top: 5px;
  color: #333;
}

.alert-success {
  border-color: #83F52C;
  background-position: 0 -100px;
}

.alert-warning {
  border-color: #FC1;
  background-position: 0 -200px;  
}

.alert-error {
  border-color: #F33;
  background-position: 0 -300px;
}

.definition  {
	text-decoration: underline;
	color: #62B1F6;
}

.tooltip-trigger {
	position: relative;
}

.tooltip {
	display: none;
	width: 300px;
	padding: 10px;
	font-family: Helvetica;
	color: #333;
	font-size: 14px;
	line-height: 18px;
	text-decoration: none;
	background-color: #DDD;
	position: absolute;
	bottom: 30px;
	border-radius: 5px;
}

.tooltip:after {
	content: '\25BC';
	color: #DDD;
	position: absolute;
	bottom: -13px;
	left: 10%;	  
}

.tooltip-trigger:hover .tooltip {
	display: block;
}

footer {
	position: fixed;
	bottom: 0;
	left:0;
	width: 100%;
	padding: 16px;
	background-color: #333;
	color:#666;
	font-size: 12px;
	font-weight: bold;
}